@import url('https://fonts.googleapis.com/css2?family=Lato:wght@400;700&family=Poppins:wght@400;700&family=Montserrat:wght@400;700&display=swap');

.App {
  font-family: 'Poppins', sans-serif;
  word-spacing: 4px;
  background-color: #eaedf0;
}


.header {
  border-radius: 16px;
  margin: 12px 3%;
  color: white;
  background-color: #282c34;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding:20px 3%;

  font-size: calc(7px + 2vmin);
  
}

.a_nav {
color: inherit;
text-decoration: none;
}

.header nav {
  display: flex;
  gap: 30px;
}

.main {
  margin: 12px 3%;
}

.main_first {
  background-color: #eaedf0;
  padding: 5% 10%;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.main_about {
  background-color:#eaedf0;
  padding: 5% 10%;
  align-items: center;
  display: flex;
  flex-direction: column;
}

.int_name {
  font-size: 60px;
  color: rgba(10, 119, 245, 0.958);
}

.int {
font-size: 20px;
color: gray;
width: 500px;
}

.div_name {
  width: 50%;
}

.img{
  border-radius: 50%;
  object-fit: cover;
  width: 30%;
  aspect-ratio: 1/1;
}

.img_GL {
  border-radius: 50%;
  object-fit: cover;
  width: 8%;
  margin-right: 15px;
}

.about {
  text-align: center;
  width: 100%;
  font-size: 25px;
  color: gray;
  font-weight: 700;
}

.about_content {
  display: flex;
  align-items: center;
  color: gray;

}

.about_img {
  border-radius: 50%;
  object-fit: cover;
  width: 30%;
  aspect-ratio: 1/1;
  margin-right: 50px;
}

.skills {
  display: flex;
  flex-direction: column;
}

.skills_list {
  display: flex;
}

.main_exp {
  background-color: #eaedf0;
  padding: 5% 10%;
  align-items: center;
  display: flex;
  flex-direction: column;
}

.exp {
  text-align: center;
  width: 100%;
  font-size: 25px;
  color: gray;
  font-weight: 700;
}

.exp_example {
  background-color: #faf8f3;
  border-radius: 30px;
  width: 65%;
  padding-bottom: 3%;
}

.button_font {
  margin-top: 2%;
  margin-left: 2%;
  margin-bottom: 2%;
}

.button_exp {
  background: none;
  border: none;
  outline: none;
  color: #555555;
  font-size: 16px;
  position: relative;
}

.button_exp:hover::after {
  content: "";
  position: absolute;
  left: 0;
  bottom: -2px;

  width: 100%;
  height: 2px;
  background-color: #4A90E2;
  border-radius: 2px;
}

.exp_info {
  margin-left: 4%;
  margin-right: 4%;

}

.exp_info_title {
  font-size: 20px;
  font-weight: 600;
  color: #555555;
}

.exp_info_date {
  font-size: 15px;
  color: #777777;
  white-space: nowrap;
}

.exp_title_and_date {
  display: flex;
  justify-content: space-between;
}

.exp_info_content {
  font-size: 15px;
  color:#555555;
}

.main_edu {
  background-color: #eaedf0;
  padding: 5% 10%;
  align-items: center;
  display: flex;
  flex-direction: column;
}

.edu {
  text-align: center;
  width: 100%;
  font-size: 25px;
  color: gray;
  font-weight: 700;
}

.edu_example {
  background-color: #faf8f3;
  border-radius: 30px;
  width: 65%;
  padding-bottom: 3%;
  border: 2px solid #000;
}
.edu_example:hover {
  border-color: #007bff;
}


.edu_info {
  margin-left: 5%;
  margin-right: 5%;
  margin-top: 5%;
}

.edu_info_school {
  font-size: 20px;
  font-weight: 600;
  color: #555555;
}

.edu_info_gpa {
  font-size: 15px;
  color: #777777;
}

.edu_info_content {
  font-size: 15px;
  color:#555555;
}

.edu_info_date {
  font-size: 15px;
  color: #777777;
  white-space: nowrap;
}

.edu_title_and_date {
  display: flex;
  justify-content: space-between;
}

.main_pj {
  background-color: #eaedf0;
  padding: 5% 10%;
  align-items: center;

}

.pj {
  text-align: center;
  width: 100%;
  font-size: 25px;
  color: gray;
  font-weight: 700;
}

.pj_exp {
  align-items: center;
  display: flex;
  gap: 3%;
  justify-content: center;

  
}

.pj_info {
  width: 400px;
  height: 500px;
  background-color: #faf8f3;
  border-radius: 30px;
  overflow: hidden;
}

.pj_img {
  height: 100%;
  width: 100%;
  object-fit: cover;
}

.pj_content_img {
  height: 50%;
  width: 100%;
}

.pj_content {
  height: 40%;
  width: 100%;
  padding-left: 5%;
  padding-right: 5%;
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
}

.pj_info_title {
  font-size: 22px;
  font-weight: 800;
    color: #555555;
}

.pj_info_langrage {
  color: #777777;
  font-size: 15px;
}

.pj_info_content {
  color: #777777;
  font-size: 18px;
}

.pj_link {

  border-top: 2px solid black;
  margin-top: auto;
  padding-bottom: 10px;
  padding-top: 10px;
}


